<div class="col-md-10 container container-fluid">
    <div class="container-fluid col-md-6">
        <form name="editProfile" class="validated-form form wrapper container-fluid center-block">
            <h3 class="text-center"><strong>Delete Category</strong></h3>
            <hr />
            <div class="form-group">
                <label for="username">Category:</label>
                {{category}}
                <input data-ng-disabled="true" name="username" data-ng-model="categoryToDelete.username" class="form-control" id="username" type="text" required />
                <button class="btn-default" data-ng-click="adminDeleteCategory(categoryToDelete.id)">Delete</button>
            </div>
        </form>
    </div>

</div>