<div class="col-md-10 container container-fluid">
    <div class="container-fluid col-md-6">
        <form name="editProfile" class="validated-form form wrapper container-fluid center-block">
            <h3 class="text-center"><strong>Delete profile</strong></h3>
            <hr />
            <div class="form-group">
                <label for="username">Username:</label>
                <input data-ng-disabled="true" name="username" data-ng-model="profile.name" class="form-control" id="username" type="text" required />
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input data-ng-disabled="true" name="name" data-ng-model="profile.name" class="form-control" id="name" type="text" required />
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input data-ng-disabled="true" name="email" data-ng-model="profile.email" class="form-control" id="email" type="email" required />
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input data-ng-disabled="true" data-ng-model="profile.phoneNumber" class="form-control" id="phone" type="text" />
            </div>

            <div class="form-group">
                <label for="town">Town:</label>
                <select data-ng-disabled="true" id="town" data-ng-model="profile.townId" class="form-control">
                    <option data-ng-attr-selected="{{town.id==profile.townId && 'true' || 'false' }}" data-ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <button data-ng-click="deleteUser(profile.username)" class="pull-left btn btn-default">Delete</button>
                <a href="#/user/home" class="pull-right btn btn-default">Cancel</a>
            </div>
        </form>
    </div>

</div>