<div class="col-md-10 container container-fluid">
    <div class="container-fluid col-md-6">
        <form name="editProfile" class="validated-form form wrapper container-fluid center-block">
            <h3 class="text-center"><strong>Delete Category</strong></h3>
            <hr />
            <div class="form-group">
                <label for="username">Category:</label>
                <input data-ng-disabled="true" name="username" data-ng-model="category.userName" class="form-control" id="username" type="text" required />
            </div>
        </form>
    </div>

</div>