<!-- Ads section -->
  <div class="container col-md-10 center-block">
		<div class="wrapper container-fluid">

			<div class="clearfix container-fluid">
				<h2 class="pull-left"><strong>zaglavie</strong></h2>
				<h2 class="pull-right">data</h2>
			</div>

			<div>
				<div class="col-md-4 box">
					<img class="img-responsive" src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg">
				</div>

				<div class="col-md-8">
					<div class="box fluid-container data-container">content</div>
					<div class="fluid-container data-container"><span class="col-md-2 text-right">Name:</span> <span class="box col-md-10">Nikola</span></div>
					<div class="fluid-container data-container"><span class="col-md-2 text-right">Email:</span> <span class="box col-md-10">Nikola</span></div>
					<div class="fluid-container data-container"><span class="col-md-2 text-right">Tel:</span> <span class="box col-md-10">Nikola</span></div>
				</div>           
			</div>

			<div class="center-block">
				<a href="#" class="btn btn-default">Delete</a>
				<a href="#/" class="btn btn-default">Cancel</a>
			</div>
		</div>
</div>
