<div class="col-md-10 container container-fluid">
	<div class="container-fluid col-md-6">
<form class="form wrapper container-fluid center-block">
		<h3 class="text-center"><strong>Edit profile</strong></h3>
		<hr />

		<div class="form-group">
			<label for="name">Name:</label>
			<input class="form-control" id="name" type="text" required />
		</div>

		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control" id="email" type="email" required />
		</div>

		<div class="form-group">
			<label for="phone">Phone:</label>
			<input class="form-control" id="phone" type="text" required />
		</div>

		<div class="form-group">
			<label for="town">Town:</label>
			<input class="form-control" id="town" type="text" required />
		</div>

		<div class="form-group">
			<a href="#" class="pull-left btn btn-default">Update</a>
			<a href="#" class="pull-right btn btn-default">Cancel</a>
		</div>
	</form>
	</div>

	<div class="container-fluid col-md-6">
<form class="form wrapper container-fluid center-block">
		<h3 class="text-center"><strong>Change password</strong></h3>
		<hr />

		<div class="form-group">
			<label for="old-pass">Old password:</label>
			<input class="form-control" id="old-pass" type="password" required />
		</div>

		<div class="form-group">
			<label for="new-pass">New Password:</label>
			<input class="form-control" id="new-pass" type="password" required />
		</div>

		<div class="form-group">
			<label for="confirm-pass">Confirm Password:</label>
			<input class="form-control" id="confirm-pass" type="password" required />
		</div>

		<div class="form-group">
			<a href="#" class="pull-left btn btn-default">Change Password</a>
			<a href="#" class="pull-right btn btn-default">Cancel</a>
		</div>
	</form>
	</div>
	

	
</div>