<div data-ng-controller="EditProfileController" class="col-md-10 container container-fluid">
	<div class="container-fluid col-md-6">
<form class="form wrapper container-fluid center-block">
    {{passwordData}}
		<h3 class="text-center"><strong>Edit profile</strong></h3>
		<hr />

		<div class="form-group">
			<label for="name">Name:</label>
			<input data-ng-model="profile.name" class="form-control" id="name" type="text" required />
		</div>

		<div class="form-group">
			<label for="email">Email:</label>
			<input data-ng-model="profile.email" class="form-control" id="email" type="email" required />
		</div>

		<div class="form-group">
			<label for="phone">Phone:</label>
			<input data-ng-model="profile.phoneNumber" class="form-control" id="phone" type="text" />
		</div>

		<div class="form-group">
			<label for="town">Town:</label>
			<select id="town" data-ng-model="profile.townId" class="form-control">
                <option ng-attr-selected="{{town.id==profile.townId && 'true' || 'false' }}" data-ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<button data-ng-click="updateProfile(profile)" class="pull-left btn btn-default">Update</button>
			<a href="#/user/home" class="pull-right btn btn-default">Cancel</a>
		</div>
	</form>
	</div>

	<div class="container-fluid col-md-6">
<form class="form wrapper container-fluid center-block">
		<h3 class="text-center"><strong>Change password</strong></h3>
		<hr />

		<div class="form-group">
			<label for="old-pass">Old password:</label>
			<input data-ng-model="passwordData.oldPassword" class="form-control" id="old-pass" type="password" required />
		</div>

		<div class="form-group">
			<label for="new-pass">New Password:</label>
			<input data-ng-model="passwordData.newPassword" class="form-control" id="new-pass" type="password" required />
		</div>

		<div class="form-group">
			<label for="confirm-pass">Confirm Password:</label>
			<input data-ng-model="passwordData.confirmPassword" class="form-control" id="confirm-pass" type="password" required />
		</div>

		<div class="form-group">
			<button data-ng-click="changePassword(passwordData)" class="pull-left btn btn-default">Change Password</button>
			<a href="#" class="pull-right btn btn-default">Cancel</a>
		</div>
	</form>
	</div>
	

	
</div>