
<!-- Ads section -->
<div class="container col-md-8">

    <!-- Start of ad  -->
    <div class="wrapper container-fluid" data-ng-repeat="ad in ads.ads">

        <div class="clearfix container-fluid">
            <h2 class="pull-left"><strong>{{ad.title}}</strong></h2>

            <h2 class="pull-right">{{ad.date | date:'dd MMM yyyy'}}</h2>
        </div>

        <div>
            <div class="col-md-4 box">
                <img class="img-responsive" data-ng-src="{{ad.imageDataUrl}}">
            </div>

            <div class="col-md-8">
                <div class="box fluid-container data-container">{{ad.text}}</div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Name:</span> <span
                        class="box col-md-10">{{ad.ownerName}}</span></div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Email:</span> <span
                        class="box col-md-10">{{ad.ownerEmail}}</span></div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Tel:</span> <span
                        class="box col-md-10">{{ad.ownerPhone}}</span></div>
            </div>
        </div>

    </div>

    <!-- End of ad  -->
    <nav>
        <ul class="pagination">
            <li data-ng-repeat="page in pages(ads.numPages)">
                <a href="http://softuni-ads.azurewebsites.net/api/Ads?PageSize=5&StartPage={{page}}">{{page}}</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Filters section -->
<div class="container col-md-2">

    <!-- First  -->
    <div class="wrapper">
        <h3 class="text-center"><strong>Categories</strong></h3>
        <hr/>
        <ul class="list-unstyled">
            <li class="selected"><a href="">All</a></li>
            <li data-ng-repeat="category in categories"><a href="">{{category.name}}</a></li>
        </ul>
    </div>

    <!-- Second  -->
    <div class="wrapper">
        <h3 class="text-center"><strong>Towns</strong></h3>
        <hr/>
        <ul class="list-unstyled">
            <li class="selected"><a href="">All</a></li>
            <li><a href="">Pleven</a></li>
            <li><a href="">Sofia</a></li>
            <li><a href="">Plovdiv</a></li>
        </ul>
    </div>

</div>