
<!-- Ads section -->
<div class="container col-md-8">

    <!-- Start of ad  -->
    <div class="wrapper container-fluid" data-ng-repeat="ad in ads.ads">

        <div class="clearfix container-fluid">
            <h2 class="pull-left"><strong>{{ad.title}}</strong></h2>

            <h2 class="pull-right">{{ad.date | date:'dd MMM yyyy'}}</h2>
        </div>

        <div>
            <div class="col-md-4 box">
                <img class="img-responsive" data-ng-src="{{ad.imageDataUrl}}">
            </div>

            <div class="col-md-8">
                <div class="box fluid-container data-container">{{ad.text}}</div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Name:</span> <span
                        class="box col-md-10">{{ad.ownerName}}</span></div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Email:</span> <span
                        class="box col-md-10">{{ad.ownerEmail}}</span></div>
                <div class="fluid-container data-container"><span class="col-md-2 text-right">Tel:</span> <span
                        class="box col-md-10">{{ad.ownerPhone}}</span></div>
            </div>
        </div>

    </div>

    <!-- Pagination  -->

    <nav>
        <ul class="pagination">
            <li data-ng-repeat="page in pages(ads.numPages)">
                <button class="btn-default btn-sm" data-ng-click="reloadAds(categoryId,townId,page)">{{page}}</button>
            </li>
        </ul>
    </nav>
</div>

<!-- Filters section -->
<div class="container col-md-2">

    <!-- First  -->
    <div class="wrapper">
        <h3 class="text-center"><strong>Categories</strong></h3>
        <hr/>
        <select data-ng-model="categoryId">
            <option class="selected" value="">All</option>
            <option data-ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </div>

    <!-- Second  -->
    <div class="wrapper">
        <h3 class="text-center"><strong>Towns</strong></h3>
        <hr/>
        <select data-ng-model="townId">
            <option class="selected" value="">All</option>
            <option data-ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </div>
    <button class="btn-default btn-lg" data-ng-click="reloadAds(categoryId,townId,startPage)">Filter</button>
</div>