<div class="col-md-10 container container-fluid">
	
	<form name="login" class="form wrapper container-fluid col-md-4 col-md-offset-4 validated-form" novalidate>
		<h3 class="text-center"><strong>Login</strong></h3>
		<hr />

		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" id="username" name="username" type="text" data-ng-model="credentials.username" required />
            <span class="validation-error" ng-show="login.username.$touched && (login.username.$dirty || login.username.$invalid)">
                <span ng-show="login.username.$error.required">Required.</span>
            </span>
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control" id="password" minlength="2" maxlength="100" name="password" type="password" data-ng-model="credentials.password" required />
            <span class="validation-error" ng-show="login.password.$touched && (login.password.$dirty || login.password.$invalid)">
                <span ng-show="login.password.$error.required">Required.</span>
                <span ng-show="login.password.$error.minlength || login.password.$error.maxlength">Password must be in range [2;100]</span>
            </span>
		</div>

		<div class="form-group">
			<button data-ng-click="loginUser()" ng-disabled="!login.$valid" class="pull-left btn btn-default">Login</button>
			<a href="#/register" class="pull-right">Register here</a>
		</div>
	</form>
</div>