<div class="col-md-10 container container-fluid">
	
	<form class="form wrapper container-fluid col-md-4 col-md-offset-4">
		<h3 class="text-center"><strong>Login</strong></h3>
		<hr />

		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" id="username" type="text" required />
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control" id="password" type="password" required />
		</div>

		<div class="form-group">
			<a href="#" class="pull-left btn btn-default">Login</a>
			<a href="#/register" class="pull-right">Register here</a>
		</div>
	</form>
</div>