<div class="col-md-10 container">
	
	<form class="container-fluid form wrapper col-md-10 col-md-offset-1">
		<h3 class="text-center"><strong>User Registration</strong></h3>
		<hr />

		<div class="form-group form-group-small">
			<label for="username">Username:</label>
			<input class="form-control" id="username" type="text" data-ng-model="user.username" required />
		</div><br>

		<div class="form-group form-group-small">
			<label for="password">Password:</label>
			<input class="form-control" id="password" type="password" data-ng-model="user.password" required />
		</div>

		<div class="form-group form-group-small">
			<label for="confirm-password">Confimr Password:</label>
			<input class="form-control" id="confirm-password" type="password" data-ng-model="user.confirmPassword" required />
		</div>

		<div class="form-group form-group-small">
			<label for="Name">Name:</label>
			<input class="form-control" id="name" type="text" data-ng-model="user.name" required />
		</div>

		<div class="form-group form-group-small">
			<label for="mail">Email:</label>
			<input class="form-control" id="mail" type="email" data-ng-model="user.email" required />
		</div>

		<div class="form-group form-group-small">
			<label for="phone">Phone:</label>
			<input class="form-control" id="phone" type="text" data-ng-model="user.phone" required />
		</div>

		<div class="form-group form-group-small">
			<label for="town">Town:</label>
			<input class="form-control" id="town" type="text" data-ng-model="user.townId" required />
		</div>

		<div class="form-group">
			<button data-ng-click="register()" class="pull-left btn btn-default">Register</button>
			<a href="#/login" class="pull-right">Login here</a>
		</div>
	</form>
    {{user}}
    {{register}}
</div>